<h3><strong>******** Now your results ********</strong></h3>
<h4>
  Your word: <%=params[:word]%>
  <br>
  Time Taken to answer: n/a
  <br>
  Your score: <%=@score%>
  <br>
  Message: <%=@message%>
</h4>

<%= link_to "Try Again", "/long_word_game" %>
